<div id="nav" class="col-24 menu">
    <div class="col-7 onglet" id="tab-gamme">
        Gamme
    </div>
    <div class="col-7 onglet" id="tab-accordage">
        Accordage
    </div>
    <div class="col-7 onglet" id="tab-manche">
        Manche
    </div>
    <div class="col-3 onglet" id="tab-parametre">
        Paramètre
    </div>
</div>