<!DOCTYPE html>

<html>

  <head>

    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {{#if isAdmin}}
      <link rel="stylesheet" href="/stylesheets/admin.css" />
    {{else}} 
      <link rel="stylesheet" href="/stylesheets/main.css" />
    {{/if}}

  </head>

  <body>

    {{{body}}}
  
  </body>
</html>
