* {
  /*! border: 1px solid red; */
  box-sizing: border-box;
}

body {
  margin: 30px;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #e7e7e7;
}

a {
  color: #00B7FF;
}

/*********************************************************
                       GRID SYSTEM 
*********************************************************/

.grid::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}
.col-1 {width: 4.16%;}
.col-2 {width: 8.33%;}
.col-3 {width: 12.5%;}
.col-4 {width: 16.66%;}
.col-5 {width: 20.83%;}
.col-6 {width: 25%;}
.col-7 {width: 29.16%;}
.col-8 {width: 33.33%;}
.col-9 {width: 37.5%;}
.col-10 {width: 41.66%;}
.col-11 {width: 45.83%;}
.col-12 {width: 50%;}
.col-13 {width: 54.16%;}
.col-14 {width: 58.33%;}
.col-15 {width: 62.5%;}
.col-16 {width: 66.66%;}
.col-17 {width: 70.83%;}
.col-18 {width: 75%;}
.col-19 {width: 79.16%;}
.col-20 {width: 83.33%;}
.col-21 {width: 87.5%;}
.col-22 {width: 91.66%;}
.col-23 {width: 95.83%;}
.col-24 {width: 100%;}
.col-offset-1 {margin-left: 4.16%;}
.col-offset-2 {margin-left: 8.33%;}
.col-offset-3 {margin-left: 12.5%;}
.col-offset-4 {margin-left: 16.66%;}
.col-offset-5 {margin-left: 20.83%;}
.col-offset-6 {margin-left: 25%;}
.col-offset-7 {margin-left: 29.16%;}
.col-offset-8 {margin-left: 33.33%;}
.col-offset-9 {margin-left: 37.5%;}
.col-offset-10 {margin-left: 41.66%;}
.col-offset-11 {margin-left: 45.83%;}
.col-offset-12 {margin-left: 50%;}
.col-offset-13 {margin-left: 54.16%;}
.col-offset-14 {margin-left: 58.33%;}
.col-offset-15 {margin-left: 62.5%;}
.col-offset-16 {margin-left: 66.66%;}
.col-offset-17 {margin-left: 70.83%;}
.col-offset-18 {margin-left: 75%;}
.col-offset-19 {margin-left: 79.16%;}
.col-offset-20 {margin-left: 83.33%;}
.col-offset-21 {margin-left: 87.5%;}
.col-offset-22 {margin-left: 91.66%;}
.col-offset-23 {margin-left: 95.83%;}
.col-offset-24 {margin-left: 100%;}



/********************************************************/


/*********************************************************
                           MENU
*********************************************************/
.menu {
  padding: 0;
  text-align: center;
  border: 5px solid #a2a2a2;
  border-bottom: 0;
  background-color: #a2a2a2;
}

.onglet {
  background-color: #a2a2a2;
  border: 1px solid #a2a2a2;
  border-bottom: 0;
}

.onglet:hover {
  background-color: #c4c4c4;
}

.active {
  background-color: #e7e7e7;
  border-radius: 0 2px 2px 0;
}

.active:hover {
  background-color: #e7e7e7;
}



/********************************************************/

/*********************************************************
                      TABLE MANAGE
*********************************************************/

.table {
  border-collapse: collapse;
  width: 100%;
}

.table, .tableManage td, .tableManage th {
  border: 1px solid black;
}

.table td, .table th {
  padding: 15px;
}

.table tr:nth-child(odd) {
  background-color: #888888;
}

.table tr:first-child {
  background-color: #e7e7e7;
}

/********************************************************/

.main-container {
  -webkit-box-shadow: -4px 4px 11px 0px rgba(77,77,77,0.7);
  -moz-box-shadow: -4px 4px 11px 0px rgba(77,77,77,0.7);
  box-shadow: -4px 4px 11px 0px rgba(77,77,77,0.7);
  
  margin-top: 20px;
  padding: 0;
}

.container {
  padding: 20px;
  border: 5px solid #a2a2a2;
  border-top: 0;
}

.select, .label, .btn {
  padding: 0;
}



/********************************************************/
/********************* PARTIE ADMIN *********************/
/********************************************************/

.manage ul {
  list-style: none;
  padding: 0;
}

.manage li {
  margin: 0 0 15px 7%;
  padding-right: 200px;
}

.manage li:first-of-type {
  text-align: center;
}

.manage li:last-of-type {
  margin-bottom: 0;
}

.manage li div {
  float: right;
}

.manage li button {
  display: inline;
  background-color: #888;
  border: none;
}

.manage li button:hover,
.manage li button:focus {
  cursor: pointer;
  border: 1px solid #666;
}

.manage a:first-child {
  margin-right: 15px;
}

.manage a span {
  padding: 0 10px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.btn_delete span {
  background-image: url("../images/trash.svg");
}

.btn_modif span{
  background-image: url("../images/pencil.svg");
}

.manage a:hover,
.manage a:focus {
  cursor: pointer;
  border: 1px dotted black;
}

/**************** MODAL ****************/
[class*="modal-"] {
  display: none;
  position: fixed;
  padding-top: 100px;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.5);
}

.modal_container {
  background-color: #e8e8e8;
  margin: auto;
  padding: 15px;
  border: 1px solid black;
  width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
